# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

#Visual studio
*.VC.db
*.VC.opendb
*.ipch
*.suo
*.aps
*.vs

#Visual studio build
*.iobj
*.ipdb
*.ilk
*.pdb
*.recipe

# temp files
*.tlog
*.log
*.pch
*.lastbuildstate
*.res
*.idb

# Specific file ignore
GLAD.lib